In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = 'https://api.covidtracking.com/v1/states/gu/daily.csv'
df = pd.read_csv(url)
df.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200930,GU,2488,47626,NaN,50114,25.0,NaN,9.0,NaN,...,50114,2,0,eee62bbc0708ed98ffe547e44b5040f60c6170ac,0,0,0,0,0,NaN
1,20200929,GU,2443,47284,NaN,49727,26.0,NaN,9.0,NaN,...,49727,1,0,1b5d949f3ad110eefb12135513058dd99c1a43ec,0,0,0,0,0,NaN
2,20200928,GU,2390,46821,NaN,49211,28.0,NaN,10.0,NaN,...,49211,3,0,4634ba79fc45c7231de6e149dcf9ae6461ab0607,0,0,0,0,0,NaN
3,20200927,GU,2354,46365,NaN,48719,30.0,NaN,9.0,NaN,...,48719,0,0,064f82e04310f7874c239c81d1d4ad411dc17a2e,0,0,0,0,0,NaN
4,20200926,GU,2354,46365,NaN,48719,30.0,NaN,9.0,NaN,...,48719,2,0,7185eba890dd8a1d9ad81f1a7efd70101c32b967,0,0,0,0,0,NaN

---

- Column descriptions can be found at "https://covidtracking.com/data/api" under "Historic values for a single state"

---

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 54 columns):
date                           199 non-null int64
state                          199 non-null object
positive                       199 non-null int64
negative                       199 non-null int64
pending                        0 non-null float64
totalTestResults               199 non-null int64
hospitalizedCurrently          143 non-null float64
hospitalizedCumulative         0 non-null float64
inIcuCurrently                 94 non-null float64
inIcuCumulative                0 non-null float64
onVentilatorCurrently          18 non-null float64
onVentilatorCumulative         0 non-null float64
recovered                      187 non-null float64
dataQualityGrade               159 non-null object
lastUpdateEt                   199 non-null object
dateModified                   199 non-null object
checkTimeEt                    199 non-null object
death                          193 non-null float64
hospitalized                   0 non-null float64
dateChecked                    199 non-null object
totalTestsViral                133 non-null float64
positiveTestsViral             33 non-null float64
negativeTestsViral             33 non-null float64
positiveCasesViral             165 non-null float64
deathConfirmed                 0 non-null float64
deathProbable                  0 non-null float64
totalTestEncountersViral       0 non-null float64
totalTestsPeopleViral          129 non-null float64
totalTestsAntibody             127 non-null float64
positiveTestsAntibody          127 non-null float64
negativeTestsAntibody          0 non-null float64
totalTestsPeopleAntibody       0 non-null float64
positiveTestsPeopleAntibody    0 non-null float64
negativeTestsPeopleAntibody    0 non-null float64
totalTestsPeopleAntigen        0 non-null float64
positiveTestsPeopleAntigen     0 non-null float64
totalTestsAntigen              0 non-null float64
positiveTestsAntigen           0 non-null float64
fips                           199 non-null int64
positiveIncrease               199 non-null int64
negativeIncrease               199 non-null int64
total                          199 non-null int64
totalTestResultsSource         199 non-null object
totalTestResultsIncrease       199 non-null int64
posNeg                         199 non-null int64
deathIncrease                  199 non-null int64
hospitalizedIncrease           199 non-null int64
hash                           199 non-null object
commercialScore                199 non-null int64
negativeRegularScore           199 non-null int64
negativeScore                  199 non-null int64
positiveScore                  199 non-null int64
score                          199 non-null int64
grade                          0 non-null float64
dtypes: float64(29), int64(17), object(8)
memory usage: 84.0+ KB

In [4]:
#remove columns with no data recorded, columns not necessary for analysis, 
#columns displaying the same data as others, & depreciated data
columns = ['deathConfirmed', 'deathProbable', 'hospitalized', 
         'hospitalizedCumulative', 'inIcuCumulative', 'negativeTestsAntibody', 'pending',
         'negativeTestsPeopleAntibody', 'onVentilatorCumulative',
         'positiveTestsAntigen', 'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
         'totalTestEncountersViral', 'totalTestsAntigen', 'totalTestsPeopleAntibody', 
         'totalTestsPeopleAntigen', 'hospitalizedIncrease', 'hash', 'commercialScore',
         'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
          'grade', 'totalTestResultsSource', 'state', 'lastUpdateEt', 'dateModified',
          'checkTimeEt', 'dateChecked', 'fips', 'total', 'posNeg']
df_1 = df.drop(columns, axis=1)

In [5]:
df_1.head()

,date,positive,negative,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,recovered,dataQualityGrade,death,...,positiveTestsViral,negativeTestsViral,positiveCasesViral,totalTestsPeopleViral,totalTestsAntibody,positiveTestsAntibody,positiveIncrease,negativeIncrease,totalTestResultsIncrease,deathIncrease
0,20200930,2488,47626,50114,25.0,9.0,NaN,1822.0,B,49.0,...,NaN,NaN,2486.0,50112.0,180.0,3.0,45,342,387,2
1,20200929,2443,47284,49727,26.0,9.0,NaN,1811.0,A,47.0,...,NaN,NaN,2443.0,49727.0,180.0,3.0,53,463,516,1
2,20200928,2390,46821,49211,28.0,10.0,NaN,1795.0,A,46.0,...,NaN,NaN,2390.0,49211.0,180.0,3.0,36,456,492,3
3,20200927,2354,46365,48719,30.0,9.0,NaN,1668.0,A,43.0,...,NaN,NaN,2354.0,48719.0,179.0,3.0,0,0,0,0
4,20200926,2354,46365,48719,30.0,9.0,NaN,1668.0,A,43.0,...,NaN,NaN,2354.0,48719.0,179.0,3.0,68,395,463,2

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 21 columns):
date                        199 non-null int64
positive                    199 non-null int64
negative                    199 non-null int64
totalTestResults            199 non-null int64
hospitalizedCurrently       143 non-null float64
inIcuCurrently              94 non-null float64
onVentilatorCurrently       18 non-null float64
recovered                   187 non-null float64
dataQualityGrade            159 non-null object
death                       193 non-null float64
totalTestsViral             133 non-null float64
positiveTestsViral          33 non-null float64
negativeTestsViral          33 non-null float64
positiveCasesViral          165 non-null float64
totalTestsPeopleViral       129 non-null float64
totalTestsAntibody          127 non-null float64
positiveTestsAntibody       127 non-null float64
positiveIncrease            199 non-null int64
negativeIncrease            199 non-null int64
totalTestResultsIncrease    199 non-null int64
deathIncrease               199 non-null int64
dtypes: float64(12), int64(8), object(1)
memory usage: 32.7+ KB

In [18]:
#daily positive result rate
daily_pos_rate_perc = (df_1['positiveIncrease']/df_1['totalTestResultsIncrease']) * 100

In [19]:
daily_pos_rate_perc[:10]

0    11.627907
1    10.271318
2     7.317073
3          NaN
4    14.686825
5     4.042179
6     6.422018
7    10.638298
8     9.071730
9     7.575758
dtype: float64