In [1]:
import pandas as pd

In [2]:
#df = pd.read_csv("guam_history.csv")
url = 'https://api.covidtracking.com/v1/states/gu/daily.csv'
df = pd.read_csv(url)
df.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200929,GU,2443,47284,NaN,49727,26.0,NaN,9.0,NaN,...,49727,1,0,1b5d949f3ad110eefb12135513058dd99c1a43ec,0,0,0,0,0,NaN
1,20200928,GU,2390,46821,NaN,49211,28.0,NaN,10.0,NaN,...,49211,3,0,4634ba79fc45c7231de6e149dcf9ae6461ab0607,0,0,0,0,0,NaN
2,20200927,GU,2354,46365,NaN,48719,30.0,NaN,9.0,NaN,...,48719,0,0,064f82e04310f7874c239c81d1d4ad411dc17a2e,0,0,0,0,0,NaN
3,20200926,GU,2354,46365,NaN,48719,30.0,NaN,9.0,NaN,...,48719,2,0,7185eba890dd8a1d9ad81f1a7efd70101c32b967,0,0,0,0,0,NaN
4,20200925,GU,2286,45970,NaN,48256,31.0,NaN,11.0,NaN,...,48256,3,0,fb3e86409c30ee1985da66f84ce87e1407f9609a,0,0,0,0,0,NaN

---

- Column descriptions can be found at "https://covidtracking.com/data/api" under "Historic values for a single state"

---

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 54 columns):
date                           197 non-null int64
state                          197 non-null object
positive                       197 non-null int64
negative                       197 non-null int64
pending                        0 non-null float64
totalTestResults               197 non-null int64
hospitalizedCurrently          141 non-null float64
hospitalizedCumulative         0 non-null float64
inIcuCurrently                 92 non-null float64
inIcuCumulative                0 non-null float64
onVentilatorCurrently          18 non-null float64
onVentilatorCumulative         0 non-null float64
recovered                      185 non-null float64
dataQualityGrade               157 non-null object
lastUpdateEt                   197 non-null object
dateModified                   197 non-null object
checkTimeEt                    197 non-null object
death                          191 non-null float64
hospitalized                   0 non-null float64
dateChecked                    197 non-null object
totalTestsViral                131 non-null float64
positiveTestsViral             33 non-null float64
negativeTestsViral             33 non-null float64
positiveCasesViral             163 non-null float64
deathConfirmed                 0 non-null float64
deathProbable                  0 non-null float64
totalTestEncountersViral       0 non-null float64
totalTestsPeopleViral          127 non-null float64
totalTestsAntibody             125 non-null float64
positiveTestsAntibody          125 non-null float64
negativeTestsAntibody          0 non-null float64
totalTestsPeopleAntibody       0 non-null float64
positiveTestsPeopleAntibody    0 non-null float64
negativeTestsPeopleAntibody    0 non-null float64
totalTestsPeopleAntigen        0 non-null float64
positiveTestsPeopleAntigen     0 non-null float64
totalTestsAntigen              0 non-null float64
positiveTestsAntigen           0 non-null float64
fips                           197 non-null int64
positiveIncrease               197 non-null int64
negativeIncrease               197 non-null int64
total                          197 non-null int64
totalTestResultsSource         197 non-null object
totalTestResultsIncrease       197 non-null int64
posNeg                         197 non-null int64
deathIncrease                  197 non-null int64
hospitalizedIncrease           197 non-null int64
hash                           197 non-null object
commercialScore                197 non-null int64
negativeRegularScore           197 non-null int64
negativeScore                  197 non-null int64
positiveScore                  197 non-null int64
score                          197 non-null int64
grade                          0 non-null float64
dtypes: float64(29), int64(17), object(8)
memory usage: 83.2+ KB

In [7]:
#remove columns with no data recorded
columns = ['deathConfirmed', 'deathProbable', 'hospitalized', 
         'hospitalizedCumulative', 'inIcuCumulative', 'negativeTestsAntibody', 'pending',
         'negativeTestsPeopleAntibody', 'onVentilatorCumulative',
         'positiveTestsAntigen', 'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
         'totalTestEncountersViral', 'totalTestsAntigen', 'totalTestsPeopleAntibody', 
         'totalTestsPeopleAntigen', 'hospitalizedIncrease', 'hash', 'commercialScore',
         'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
          'grade', 'totalTestResultsSource']
df_1 = df.drop(columns, axis=1)

In [8]:
df_1.head()

,date,state,positive,negative,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,recovered,dataQualityGrade,...,totalTestsPeopleViral,totalTestsAntibody,positiveTestsAntibody,fips,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,deathIncrease
0,20200928,GU,2390,46821,49211,28.0,10.0,NaN,1795.0,A,...,49211.0,180.0,3.0,66,36,456,49211,492,49211,3
1,20200927,GU,2354,46365,48719,30.0,9.0,NaN,1668.0,A,...,48719.0,179.0,3.0,66,0,0,48719,0,48719,0
2,20200926,GU,2354,46365,48719,30.0,9.0,NaN,1668.0,A,...,48719.0,179.0,3.0,66,68,395,48719,463,48719,2
3,20200925,GU,2286,45970,48256,31.0,11.0,NaN,1668.0,A,...,48256.0,179.0,3.0,66,23,546,48256,569,48256,3
4,20200924,GU,2263,45424,47687,33.0,11.0,NaN,1568.0,A,...,47687.0,179.0,3.0,66,28,408,47687,436,47687,1

In [9]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 29 columns):
date                        197 non-null int64
state                       197 non-null object
positive                    197 non-null int64
negative                    197 non-null int64
totalTestResults            197 non-null int64
hospitalizedCurrently       141 non-null float64
inIcuCurrently              92 non-null float64
onVentilatorCurrently       18 non-null float64
recovered                   185 non-null float64
dataQualityGrade            157 non-null object
lastUpdateEt                197 non-null object
dateModified                197 non-null object
checkTimeEt                 197 non-null object
death                       191 non-null float64
dateChecked                 197 non-null object
totalTestsViral             131 non-null float64
positiveTestsViral          33 non-null float64
negativeTestsViral          33 non-null float64
positiveCasesViral          163 non-null float64
totalTestsPeopleViral       127 non-null float64
totalTestsAntibody          125 non-null float64
positiveTestsAntibody       125 non-null float64
fips                        197 non-null int64
positiveIncrease            197 non-null int64
negativeIncrease            197 non-null int64
total                       197 non-null int64
totalTestResultsIncrease    197 non-null int64
posNeg                      197 non-null int64
deathIncrease               197 non-null int64
dtypes: float64(12), int64(11), object(6)
memory usage: 44.7+ KB

In [10]:
#df_1.describe()

In [11]:
df_1.onVentilatorCurrently.unique()

array([nan,  0.,  2.])

In [12]:
df_1.onVentilatorCurrently.value_counts()

2.0    9
0.0    9
Name: onVentilatorCurrently, dtype: int64